.ReactModalPortal>div {
    opacity: 0;
    z-index: 100;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
    z-index: 1200;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content>div {
    display: flex;
    flex-direction: column;
}

.modal {
    background: white;
    color: black;
    max-width: 30rem;
    outline: auto;
    padding: 50px;
    text-align: center;
}
